body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message_list {
  margin: 0 10px 0 10px;

  .channel-name {
    border-bottom: 1px solid #A3A9B3;
  }

  .message-box {
    margin-top: 12px;
    border-top: 1px solid #A3A9B3;

    form {
      margin-top: 12px;

      input {
        width: 90%;
      }

      button {
        // margin-left: 10px;
        width: 10%;
      }
    }
  }
}

.message {
  margin-top: 10px;
  span {
    color: blue;
    font-weight: bolder;
  }
  p {
    margin-bottom: 0;
  }
}
