body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message_list {
  margin: 0 10px 0 10px;

  .name {
    border-bottom: 1px solid #A3A9B3;
  }
}

.message {
  margin-top: 10px;
  span {
    color: blue;
    font-weight: bolder;
  }
  p {
    margin-bottom: 0;
  }
}
