body {
  font-family: Helvetica;
}
.app {
  display: flex;
  // margin-top: 20px;
  margin-bottom: 20px;

}

.channel-list {
  width: 20%;
  background-color: #F4F4F4;
  height: 100vh;
  padding: 10px 0 0 20px;

  .active-channel {
    font-weight: bolder;
  }

  ul {
    list-style: none;
    -webkit-padding-start: 0px;
  }

  li {
    cursor: pointer;
    padding-top: 10px;
  }
}

.message-list {
  padding: 10px 20px 0 20px;
  width: 80%;

  .channel-name {
    border-bottom: 1px solid #A3A9B3;
  }

  .messages {
    max-height: 520px;
    overflow: auto;
  }

  .message-box {
    margin-top: 12px;
    border-top: 1px solid #A3A9B3;

    form {
      margin-top: 12px;

      input {
        width: 90%;
      }

      button {
        width: 10%;
      }
    }
  }
}

.message {
  margin-top: 10px;
  span {
    color: blue;
    font-weight: bolder;
  }
  p {
    margin-bottom: 0;
  }
}
